[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
pillow = "*"
pyrealsense2 = "*"
matplotlib = "*"
tensorflow = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
